body{
	font-family: 'Quicksand', sans-serif;
}
img.w-50{
	margin: auto;
	margin-top: 5em;
	margin-right: -1em;
}
img.w-75{
	margin: auto;
	margin-top: 5em;
	margin-left: -2em;
}
.carousel1{
	background-image: url('../img/bg-slide.png');
	background-size: cover;
	height: 500px;
}
.box-bg-dark{
	background-color: #000;
	color: #fff;
}
a.n-link{
	color: #fff;
}
a.n-link:hover{
	color: #cccccc;
}
.box-bg-rad{
	background-image: url("../img/bg-footer.png");
	color: #fff;
}
.fa-circle{
	padding: 4px;
	margin-left: 5px
}
.form-control{
	width: 100%;
	border-radius: 20px;
	background-color: #d1a8a9;
}
textarea {
	resize: none;
}
#our-vision{
	background-color: #85050a;
	color: #fff;
}
#our-products{
	background-image: url('../img/bg-out-product.png');
	color: #fff;
	background-size: cover;
}
a.obj-pro:hover{
	opacity: 0.8;
}
.btn-outline-light,.btn-outline-dark{
	border-radius: 2em;
}
#vidio-present{
	background-color: #d7d7d7;
}
iframe{
	border-radius: 1em;
}
.card-body{
	background-color: #9e0b0f;
	color: #fff;
}
a.link-new{
	color: #fff;
}
#after-sales{
	background-image: url('../img/bg-after-sales.png');
	background-size: cover;
	color: #fff;
}
#news_all{
	background-color: #f2f2f2;
	background-image: url('../img/bg-detail.png');
	background-size: cover;
}
.box-news {
	position: relative;
	height: 250px;
	width: 100%;
	border-radius: 10px;
}
.image {
	
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	transition: .5s ease;
	background-color: #000;
	opacity: 0.8;
}
.box-news:hover .overlay {
	opacity: 0;
}

.text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}
@media screen and (max-width: 768px){
	.box-news{
		height: 200px;
	}
}
a.link-bar:hover{
	background-color: #ff0000;
	color: white;
	text-align: center;
	border-radius: 1em;
	transition: .5s ease;
	box-shadow: 2px 2px 2px grey;
}
#contact{
	background-color: #f2f2f2;
	background-image: url('../img/bg-detail.png');
	background-size: cover;
}